body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("https://i.pinimg.com/originals/59/94/b5/5994b5a21eadaf45cef834aba2c7e262.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1710px;
    color: #ffffff;
}
.backdropp{
    backdrop-filter: blur(7px);
}
header {
    background-color: #1c1c1c;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}
img{
    justify-content: center;
    align-items: center;
}
header p {
    margin: 5px 0 0;
    font-size: 1.2em;
}

main {
    padding: 20px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.about, .projects, .contact {
    margin: 40px 0;
}

h2 {
    color: #00aaff;
    border-bottom: 2px solid #00aaff;
    display: inline-block;
    padding-bottom: 5px;
}
h {
    color: #00aaff;
    border-bottom: 2px solid #00aaff;
    display: inline-block;
    padding-bottom: 5px;
}
.project {
    margin: 20px 0;
}

.project h3 {
    color: #00aaff;
}

.icones{
    color: #ffffff;
    text-decoration: none;
}


.profile-image {
    text-align: center;
    margin: 20px 0;
}

.profile-image img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 2px solid #00aaff;
}
.envolver{
    display: flex;
}
footer {
    background-color: #1c1c1c;
    padding: 10px 0;
    text-align: center;
}
.X{
    position: relative;
    top: -10px;
}
.primeiraArea{
    background-color: #1c1c1c;
    border-radius: 12px;
    margin: 12px;
    padding: 12px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.area1{
    margin: 5px;
    padding: 2px;
    display: inline-flex;
}
a{
 text-decoration: none;
 color: rgb(255, 255, 255);
}
a:hover{
    text-decoration: underline white;
}
footer p {
    margin: 0;
}
@media (max-width:517px) {
    .envolver{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center ;
    }
}