
/* Estilo da div que aparecerá com a rolagem */
.img-container {
    display: none; /* Inicialmente oculta */
    position: fixed;
    top: 0;
    padding: 10px;
    z-index: 3;
    right: 20px;
    width: 100px;
    height: 100px;
}

.img-container img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
